@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins');

body{
    font-family: 'Poppins', sans-serif;
    background: #E5E5E5;
}

.navbar-brand{
    color: #6070FF;
    font-weight: 700;
    font-size: 1.125em;
}

.navbar{
    background: #FFFFFF;
}

.nav-link{
    color: #344563;
    font-style: normal;
font-weight: 500;
font-size: 0.94em;
line-height: 20px;
}

.s-icons{
    font-size: 1.5rem; 
    color: #505F79;
    margin-right: 16px;
}

.intro{
    padding-left: 260px;
    padding-right: 260px;
    padding-top: 200px;
    padding-bottom: 150px;
    background-image: url('img/desktopheaderbg.png');
}

.intro .title{
    font-size: 3em;
    font-style: normal;
    font-weight: 700 !important;
    line-height: 60px;
    letter-spacing: 0.37px;
    color: #091E42;
}

.intro .desc{
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
}

.intro .cta{
    font-weight: 500;
    size: 1em;
    line-height: 24px;
    color: #7F8CFF;
}